body {
  margin: 0;
}

header {
  width: 100%;
  margin: 20px;
  background-color: pink;
  height: 100px;
}

section {
  display: flex;
}

div {
  width: 20%;
  height: 100px;
  background-color: red;
  margin: 5px;
  flex-grow: 1;
}

main {
  width: 20%;
  height: 100px;
  background-color: yellow;
  margin: 5px;
  flex-grow: 2
}

footer {
  width: 100%;
  background-color: blue;
  height: 100px;
}
